<section class="partners-registation" id="signup">
<script type="text/javascript" src="//cdn.refersion.com/iframe.js"></script>
<div id="refersion-iframe-goes-here" data-frame-url="https://helloskincare.refersion.com/affiliate/registration"></div>
</section>

{% schema %}
{
  "name": "BP Registration",
  "settings": [

  ],
  "presets": [
    {
      "name": "Partners Registration"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
